/* =========================
   GLOBAL CSS
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

#root {
  width: 100%;
}